.table {
    width: 100%;
    margin-bottom: 20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #e7ecf1
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7ecf1
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.table>tbody+tbody {
    border-top: 2px solid #e7ecf1
}

.table .table {
    background-color: #fff
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #e7ecf1
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfcfd
}

.table-hover>tbody>tr:hover,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #eef1f5
}

table col[class*=col-] {
    position: static;
    float: none;
    display: table-column
}

table td[class*=col-],
table th[class*=col-] {
    position: static;
    float: none;
    display: table-cell
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
    background-color: #dee5ec
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #abe7ed
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #96e1e8
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background-color: #e0ebf9
}

.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr.info:hover>th,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
    background-color: #caddf4
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #f9e491
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #f7de79
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #fbe1e3
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #f8cace
}

.table-responsive {
    overflow-x: auto;
    min-height: .01%
}

@media screen and (max-width:767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #e7ecf1
    }
    .table-responsive>.table {
        margin-bottom: 0
    }
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
        white-space: nowrap
    }
    .table-responsive>.table-bordered {
        border: 0
    }
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>thead>tr>th:first-child {
        border-left: 0
    }
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>thead>tr>th:last-child {
        border-right: 0
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th {
        border-bottom: 0
    }
}
/***
Datatables general customization
***/
.table-checkable tr > th:first-child,
.table-checkable tr > td:first-child {
    text-align: center;
    max-width: 50px;
    min-width: 40px;
    padding-left: 0;
    padding-right: 0; }

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 2px solid #e7ecf1;
    outline: none !important; }

table.dataTable.no-footer {
    border-bottom-color: #e7ecf1; }

table.dataTable tr.heading > th {
    background-color: #fbfcfd; }

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3,
table.dataTable th.sorting_1,
table.dataTable th.sorting_2,
table.dataTable th.sorting_3 {
    /* background: #fbfcfd !important; */
}

/***
Extended pagination
***/
.paging_bootstrap_extended {
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
    float: none !important;
    font-size: 13px; }

.dataTables_extended_wrapper {
    margin-top: 10px; }
.dataTables_extended_wrapper .seperator {
    padding: 0 2px; }
.dataTables_extended_wrapper .table.dataTable {
    margin: 20px 0 !important; }
.dataTables_extended_wrapper div.dataTables_paginate,
.dataTables_extended_wrapper div.dataTables_length,
.dataTables_extended_wrapper div.dataTables_info {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important; }
.dataTables_extended_wrapper .table-group-actions > span {
    font-size: 13px; }
.dataTables_extended_wrapper.DTS .paging_bootstrap_extended {
    display: inline-block; }
.dataTables_extended_wrapper.DTS .dataTables_info {
    display: inline-block;
    padding-top: 8px !important; }
.dataTables_extended_wrapper.DTS .dataTables_info .seperator {
    display: none; }
.dataTables_extended_wrapper.DTS .dataTables_scrollHead {
    border-bottom: 0 !important; }
.dataTables_extended_wrapper.DTS .dataTables_scrollHead .dataTables_scrollHeadInner .table.dataTable {
    margin-bottom: 0 !important; }
.dataTables_extended_wrapper.DTS .dataTables_scrollBody {
    border-bottom: 0 !important; }
.dataTables_extended_wrapper.DTS .dataTables_scrollBody .table.dataTable {
    margin: 0 !important; }

@media (max-width: 480px) {
    .dataTables_extended_wrapper div.dataTables_paginate,
    .dataTables_extended_wrapper div.dataTables_length,
    .dataTables_extended_wrapper div.dataTables_info {
        display: block;
        margin-bottom: 10px !important; }
    .dataTables_extended_wrapper .seperator {
        display: none !important; } }

.dataTables_extended_wrapper div.dataTables_length label {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px;
    float: none !important;
    display: inline-block !important; }

.table-container .table-actions-wrapper {
    display: none; }

/***
Scroller Extension
***/
.dataTables_scroll {
    margin-bottom: 10px; }

.dataTables_scrollHead {
    border-bottom: 2px solid #e7ecf1 !important; }
.dataTables_scrollHead thead th {
    border-bottom: 0 !important; }

.dataTables_scrollBody {
    border-bottom: 1px solid #e7ecf1 !important; }

.table-both-scroll .dataTables_scrollBody {
    border-bottom: 0 !important; }

/***
Datatables processing
***/
.dataTables_wrapper .dataTables_processing {
    width: 200px;
    display: inline-block;
    padding: 7px;
    left: 50%;
    margin-left: -100px;
    margin-top: 10px;
    text-align: center;
    color: #3f444a;
    border: 1px solid #e7ecf1;
    background: #eef1f5;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.input-mini {
    width: 45px !important;
}
.input-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
table.dataTable tr.heading > th {
    background-color: #fbfcfd;
}
.table.table-bordered thead > tr > th {
    border-bottom: 0;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #e7ecf1;
}
.heading{border: 1px solid #ececec;}
.heading th{border-right: 1px solid #ececec !important;}


.btn {
    /* display: inline-block; */
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.yellow:not(.btn-outline) {
    color: #ffffff;
    background-color: #c49f47;
    border-color: #c49f47;
}
.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.btn.green:not(.btn-outline) {
    color: #ffffff;
    background-color: #00c500;
    border-color: #00ba00;
}
.btn.gray:not(.btn-outline) {
    color: #5f5f5f;
    background-color: #d8d8d8;
    border-color: #c5c5c5;
}

.form-error,.form-success{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    border-radius: 4px;
    background-color: #f3cdd3;
    color: #210406;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 15px;
    border-left: 5px solid #de6c6c;
}
.form-success{
    background-color: #c0edf1;
    color: #210406;
    border-left: 5px solid #58d0da;
}

.redcolor{color: #e7505a !important;}

.margin-left-10{margin-left: 10px !important;}
.margin-bottom-5{margin-bottom: 5px !important;}
.margin-bottom-8{margin-bottom: 8px !important;}

.input-group .search-input{
    border: 0 !important;
}

.search-input{
    height: 34px !important;
}
.input-group-btn{
}

.date-picker{
    border: 1px solid #ebedf3;
    border-radius: 4px;
}

.alert-success {
    background-color: #abe7ed;
    border-color: #abe7ed;
    color: #27a4b0;
    padding: 15px;
    border-radius: 4px;
    opacity: 1;
}

.alert-danger {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    padding: 15px;
    border-radius: 4px;
    opacity: 1;
}
table.dataTable thead .sorting_desc {
    background: url(/assetsx/global/plugins/datatables/images/sort_desc.png) no-repeat center right;
}
table.dataTable thead .sorting {
    background: url(/assetsx/global/plugins/datatables/images/sort_both.png) center right no-repeat;
}
table.dataTable thead .sorting_asc {
    background: url(/assetsx/global/plugins/datatables/images/sort_asc.png) center right no-repeat;
}

.pagination-panel .btn.default:not(.btn-outline) {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec;

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none;
}
.btn {
    outline: none !important;
    box-shadow: none !important;
}